.dashboardScreenSection{
    width: 100vw;
    height: auto;
    min-height: 100vh;
    background-image: url(../../Assets/Images/dashboardBG.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}