.postCardContainer{
    background: var(--secondary);
    border: 1px solid var(--light);
    width: 80vw;
    height: 60vh;
    margin: 30px;
    display: flex;
    min-height: 534px;
    min-width: 1538px;
}

.postCardContent{
    width: 60%;
    height: 100%;
    border: 1px  solid  var(--primary);
}

.postCardTitle{
    background: rgb(23, 23, 23);
    border-radius: 20px;
    margin: 2px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.postCardTitleText{
    color: var(--purple);
}

.postCardComments{
    width: 32vw;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.commentsTitle{
    background: rgb(23,23,23);
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--purple);
    
}

.postContentText{
    font-size: 20px;
    margin: 30px;
    
}

.postCardText{
    overflow-y: scroll;
    height: 400px;
    width: 100%;
}

.postImg{
    max-width: 200px;
    max-width: 200px;
}

.comments{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    height: 400px;
}

.commentInput{
    width: 100%;
    height: 60px;
    background: rgb(23, 23, 23);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.commentTextInput{
    width: 65%;
    height: 80%;
    font-family: Nunito;
    font-size: 20px;
}

.postCardFooter{
    background: rgb(23, 23, 23);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.changeVisibility{
    justify-self: flex-start;

}